*

!/.gitignore
!/pom.xml
!/LICENSE
!/README.md
!/owasp-suppressions.xml

!src/
!src/**/
!src/**/*.java

!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
!.github/dependabot.yml